<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.metisinfo.pms_web_socket_middleware.controller.MainMapper">

    <insert id="insertPcsData" parameterType="pcsStatusObject">

        INSERT INTO PMS_RAW_STATUS_PCS_INFO
                    ( ESS_CODE
                    , OPERATION_STATUS
                    , CHARGING_STATUS
                    , FAULT_EXIST_YN
                    , R_S_VOLT
                    , S_T_VOLT
                    , T_R_VOLT
                    , UP_R_CURR
                    , UP_S_CURR
                    , UP_T_CURR
                    , FREQUENCY_HZ
                    , DC_VOLT
                    , BATTERY_VOLT
                    , BATTERY_CURR
                    , DIS_CHARGE_POWER
                    , REG_DATE

                    ) VALUES
                   ( 'E004'
                    , '07'
                    , #{chargingStatus}
                    , 'N'
                    , #{rSVolt}
                    , #{sTVolt}
                    , #{tRVolt}
                    , #{upRCurr}
                    , #{upSCurr}
                    , #{upTCurr}
                    , #{frequencyHz}
                    , #{dcLinkVolt}
                    , #{dcBatteryVolt}
                    , #{dcBatteryCurr}
                    , #{disChargePower}
                    , #{regDate}

                    )

    </insert>

    <insert id="insertBatteryData" parameterType="batteryStatusObject">

        INSERT INTO PMS_RAW_STATUS_BATTERY_RACK_INFO
        ( ESS_CODE
        , RACK_NO
        , CHARGING_STATUS
        , RACK_OPERATION_STATUS
        , USER_SOC
        , REAL_SOC
        , RACK_VOLT
        , CURRENT_SENSOR_1
        , CURRENT_SENSOR_2
        , CHARGE_CURRENT_LIMIT
        , REG_DATE
        ) VALUES
        ( 'E004'
        , '1'
        , #{chargingStatus}
        , '12'
        , #{soc}
        , #{soc}
        , #{rackVolt}
        , #{currentSensor1}
        , #{currentSensor2}
        , #{currentLimit}
        , #{regDate}
        )

    </insert>

    <insert id="insertDisChargeData" parameterType="pcsStatusObject">

        INSERT INTO PMS_GROUP_DIS_CHARGE_HISTORY
        ( DIS_CHARGE_ID
        , DIS_CHARGE_SEQ
        , CHARGE_GBN
        , DIS_CHARGE_SUM_VALUE
        ) VALUE
        ( #{disChargeId}
        , #{disChargeSeq}
        , #{chargingStatus}
        , ( SELECT IFNULL(
            ( SELECT MAX(DIS_CHARGE_SUM_VALUE)
              FROM pms_group_dis_charge_history a
              WHERE DIS_CHARGE_ID = #{disChargeId}), 0) + #{disChargePower}
           )
        )
    </insert>

    <insert id="insertSensorData" parameterType="sensorStatusObject">

        INSERT INTO PMS_RAW_STATUS_SENSOR_INFO
        ( REG_DATE
        , ESS_CODE
        , DEVICE_CODE
        , FAULT_EXIST_YN
        , MEASURES
        ) VALUES
        ( #{regDate}
        , 'E004'
        , #{deviceCode}
        , 'N'
        , #{measures}
        )

    </insert>

</mapper>