<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>웹소켓 통신_TTA</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <input type="button" value="웹소켓 통신 테스트 시작" onclick="start()">
</body>
<script>
    let pcsStatusDataInterval;
    let batteryStatusDataInterval;
    let pcsInnerSensorStatusDataInterval;
    let batteryInnerSensorStatusDataInterval;

    let pcsIndex = 0;
    let batteryIndex = 0;
    let pcsInnerSensorIndex = 0;
    let batteryInnerSensorIndex = 0;

    let ws = new WebSocket('ws://localhost:3100');
    //var ws = new WebSocket('ws://101.101.216.193:3100');
    //var ws = new WebSocket('ws://14.39.99.148:7003'); // Server
    //var ws = new WebSocket('ws://172.30.1.24:3100'); // Server
    //var ws = new WebSocket('ws://101.101.208.212:3100');

    ws.onopen = (event) => {
        console.log("------------------ 접속 요청 ------------------");
        let sendData = {id: 'M/W001', eventType: 'req', deviceType: 'middleware', dataType: 'connect'};
        ws.send(JSON.stringify(sendData));
        console.log("---------------------------------------------\n");
    }

    ws.onmessage = (event) => {
        console.log("\n---------------------------------------------");
        console.log("M/W001 : Data Received From Server");

        let receivedData = JSON.parse(event.data);

        switch (receivedData.eventType) {

            case 'req' :

                switch (receivedData.dataType) {

                    case 'status':
                        console.log('              status                ');
                        console.log(event.data);
                        console.log('M/W001 id : ' + receivedData.id);
                        console.log('M/W001 eventType : ' + receivedData.eventType);
                        console.log('M/W001 dataType : ' + receivedData.dataType);
                        console.log('M/W001 result : ' + receivedData.result);
                        console.log('M/W001 message : ' + receivedData.message);
                        break;

                    case 'control':
                        console.log('              control                ');
                        console.log(event.data);
                        console.log('M/W001 id : ' + receivedData.id);
                        console.log('M/W001 eventType : ' + receivedData.eventType);
                        console.log('M/W001 deviceType : ' + receivedData.deviceType);
                        console.log('M/W001 dataType : ' + receivedData.dataType);
                        console.log('M/W001 data : ' + receivedData.data);
                        console.log('M/W001 targetId : ' + receivedData.data.targetId);
                        console.log('M/W001 controlType : ' + receivedData.data.controlType);
                        console.log('M/W001 controlValue : ' + receivedData.data.controlValue);

                        let sendData = {
                            id: receivedData.id,
                            eventType: 'res',
                            dataType: receivedData.dataType,
                            result: 'success',
                            message: ''
                        };

                        console.log("---------------------------------------------");
                        console.log("sendData : " + JSON.stringify(sendData));
                        console.log("---------------------------------------------\n\n");

                        ws.send(JSON.stringify(sendData));

                        sendStatusData(receivedData.data.controlType, receivedData.data.controlValue);

                        break;
                    default:
                }

                break;

            case 'res' :

                switch (receivedData.dataType) {
                    case 'connect':
                        console.log('              connect                ');
                        console.log(event.data);
                        console.log('M/W001 id : ' + receivedData.id);
                        console.log('M/W001 eventType : ' + receivedData.eventType);
                        console.log('M/W001 dataType : ' + receivedData.dataType);
                        console.log('M/W001 result : ' + receivedData.result);
                        console.log('M/W001 message : ' + receivedData.message);
                        break;

                    case 'status':
                        console.log('              status                ');
                        console.log(event.data);
                        console.log('M/W001 id : ' + receivedData.id);
                        console.log('M/W001 eventType : ' + receivedData.eventType);
                        console.log('M/W001 dataType : ' + receivedData.dataType);
                        console.log('M/W001 result : ' + receivedData.result);
                        console.log('M/W001 message : ' + receivedData.message);
                        break;

                    case 'control':
                        console.log('              control                ');
                        console.log(event.data);
                        console.log('M/W001 id : ' + receivedData.id);
                        console.log('M/W001 eventType : ' + receivedData.eventType);
                        console.log('M/W001 deviceType : ' + receivedData.deviceType);
                        console.log('M/W001 dataType : ' + receivedData.dataType);
                        console.log('M/W001 data : ' + receivedData.data);
                        console.log('M/W001 targetId : ' + receivedData.data.targetId);
                        console.log('M/W001 controlType : ' + receivedData.data.controlType);
                        console.log('M/W001 controlValue : ' + receivedData.data.controlValue);

                        let sendData = {
                            id: receivedData.id,
                            eventType: 'res',
                            dataType: receivedData.dataType,
                            result: 'success',
                            message: ''
                        };

                        console.log("---------------------------------------------");
                        console.log("sendData : " + JSON.stringify(sendData));
                        console.log("---------------------------------------------\n\n");

                        ws.send(JSON.stringify(sendData));

                        break;
                    default:
                }

                break;

        }

        console.log("---------------------------------------------\n\n");
    }

    //브라우저 종료시 interval 종료
    window.addEventListener('beforeunload', (event) => {
        // 명세에 따라 preventDefault는 호출해야하며, 기본 동작을 방지합니다.
        event.preventDefault();

        clearTimeout (pcsStatusDataInterval);
        /*clearTimeout (batteryStatusDataInterval);
        clearTimeout (sensorStatusDataInterval);*/

        console.log("[ 웹소켓 통신 테스트 종료 ]")
    });

    //웹소켓 통신 테스트 시작
    function start() {
        console.log("[ 웹소켓 통신 테스트 시작 ]")

        const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay));

        const timer = async () => {
            pcsStatusDataInterval = setInterval(function() {
                sendPcsStatusData();
            }, 2000 );

            await sleep(500);

            batteryStatusDataInterval = setInterval(function() {
                sendBatteryStatusData();
            }, 2000 );

            await sleep(500);

            pcsInnerSensorStatusDataInterval = setInterval(function() {
                sendPcsInnerSensorStatusData();
            }, 2000 );

            await sleep(500);

            batteryInnerSensorStatusDataInterval = setInterval(function() {
                sendBatteryInnerSensorStatusData();
            }, 2000 );
        };
        timer();
    }

    function sendPcsStatusData() {
        console.log("[ PCS ]")

        let chargingStatus;

        if (pcsIndex >= 0 && pcsIndex < 300) {

            chargingStatus = 'charging';

        } else if (pcsIndex >= 300 && pcsIndex < 600) {

            chargingStatus = 'waiting';

        } else if (pcsIndex >= 600 && pcsIndex < 1200) {

            chargingStatus = 'discharging';
        }

        let pcsStatusData = {
            chargingStatus : chargingStatus,
            disChargePower : chargingStatus == 'waiting' ? '0' : getRandomValue(1,100),
            rSVolt : getRandomValue(1, 100),
            upRCurr : getRandomValue(1, 100),
            dcLinkVolt : getRandomValue(1, 100),
            frequencyHz : getRandomValue(1, 100),
            sTVolt : getRandomValue(1, 100),
            upSCurr : getRandomValue(1, 100),
            dcBatteryVolt : getRandomValue(1, 100),
            tRVolt : getRandomValue(1, 100),
            upTCurr : getRandomValue(1, 100),
            dcBatteryCurr : getRandomValue(1, 100),
        };

        insertStatusData(pcsStatusData, '/ajax/insertPcsStatusData'); //전송한 데이터 DB Insert

        pcsStatusData.operationStatus = 'ready';
        pcsStatusData.faultExistYn = 'N';
        pcsStatusData.faultList = [];

        let sendData = {
            id: 'M/W001',
            eventType: 'req',
            deviceType: 'pcs',
            dataType: 'status',
            data: pcsStatusData
        };

        console.log("---------------------------------------------");
        console.log("전송한 PCS 데이터 : " + JSON.stringify(sendData));
        console.log("---------------------------------------------\n\n");

        ws.send(JSON.stringify(sendData));

        pcsIndex++;

        if (pcsIndex == 1200) {
            pcsIndex = 0;
        }
    }

    function sendBatteryStatusData() {
        console.log("[ Battery ]")

        let rackNo;
        let chargingStatus;

        if (batteryIndex % 2 == 0) {
            rackNo = '1'
        } else if (batteryIndex % 2 == 1) {
            rackNo = '2'
        }

        if (batteryIndex >= 0 && batteryIndex < 300) {

            chargingStatus = 'charging';

        } else if (batteryIndex >= 300 && batteryIndex < 600) {

            chargingStatus = 'waiting';

        } else if (batteryIndex >= 600 && batteryIndex < 1200) {

            chargingStatus = 'discharging';
        }

        let batteryStatusData = {
            chargingStatus: chargingStatus,
            soc: getRandomValue(1, 100),
            rackVolt: getRandomValue(1, 100),
            rackCurrent: getRandomValue(1, 100),
            currentSensor1: getRandomValue(1, 100),
            currentSensor2: getRandomValue(1, 100),
            currentLimit: getRandomValue(1, 100)
        }

        insertStatusData(batteryStatusData, '/ajax/insertBatteryStatusData'); //전송한 데이터 DB Insert

        batteryStatusData.rackNo = rackNo;
        batteryStatusData.faultExistYn = 'N';
        batteryStatusData.faultList = [];

        let sendData = {
            id: 'M/W001',
            eventType: 'req',
            deviceType: 'battery',
            dataType: 'status',
            data: batteryStatusData
        };

        console.log("---------------------------------------------");
        console.log("전송한 배터리 데이터 : " + JSON.stringify(sendData));
        console.log("---------------------------------------------\n\n");

        ws.send(JSON.stringify(sendData));

        batteryIndex++;

        if (batteryIndex == 1200) {
            batteryIndex = 0;
        }
    }

    function sendPcsInnerSensorStatusData() {
        console.log("[ PcsInnerSensor ]")

        let deviceCode;
        let deviceName;

        if (pcsInnerSensorIndex % 2 == 0) {
            deviceCode = 'D001';
            deviceName = '온도';
        } else if (pcsInnerSensorIndex % 2 == 1) {
            deviceCode = 'D002';
            deviceName = '습도';
        }

        let pcsInnerSensorStatusData = {
            pmsCode: 'P001',
            essCode: 'E001',
            deviceCode: deviceCode,
            deviceName: deviceName,
            measures: getRandomValue(1, 100)
        }

        insertStatusData(pcsInnerSensorStatusData, '/ajax/insertPcsInnerSensorStatusData');

        pcsInnerSensorStatusData.faultExistYn = 'N';

        let sendData = {
            id: 'M/W001',
            eventType: 'req',
            deviceType: 'pcsInnerSensor',
            dataType: 'status',
            data: pcsInnerSensorStatusData
        };

        console.log("---------------------------------------------");
        console.log("전송한 PCS 내부 센서 데이터 : " + JSON.stringify(sendData));
        console.log("---------------------------------------------\n\n");

        ws.send(JSON.stringify(sendData));

        pcsInnerSensorIndex++;

        if (pcsInnerSensorIndex == 10) {
            pcsInnerSensorIndex = 0;
        }
    }

    function sendBatteryInnerSensorStatusData() {
        console.log("[ BatteryInnerSensor ]")

        let deviceCode;
        let deviceName;

        if (batteryInnerSensorIndex % 2 == 0) {
            deviceCode = 'D003';
            deviceName = '온도';
        } else if (batteryInnerSensorIndex % 2 == 1) {
            deviceCode = 'D004';
            deviceName = '습도';
        }

        let batteryInnerSensorStatusData = {
            pmsCode: 'P001',
            essCode: 'E001',
            deviceCode: deviceCode,
            deviceName: deviceName,
            measures: getRandomValue(1, 100)
        }

        insertStatusData(batteryInnerSensorStatusData, '/ajax/insertBatteryInnerSensorStatusData');

        batteryInnerSensorStatusData.faultExistYn = 'N';

        let sendData = {
            id: 'M/W001',
            eventType: 'req',
            deviceType: 'batteryInnerSensor',
            dataType: 'status',
            data: batteryInnerSensorStatusData
        };

        console.log("---------------------------------------------");
        console.log("전송한 배터리 내부 센서 데이터 : " + JSON.stringify(sendData));
        console.log("---------------------------------------------\n\n");

        ws.send(JSON.stringify(sendData));

        batteryInnerSensorIndex++;

        if (batteryInnerSensorIndex == 10) {
            batteryInnerSensorIndex = 0;
        }
    }

    function insertStatusData(data, url) {
        $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {

            },
            beforeSend: function () {

            },
            complete: function () {

            }
        });
    }

    function getRandomValue(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
</script>
</html>